<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% include 'top.html' %}
</head>
<body>
<table border="1" bgcolor="#7cfc00">

    <tr>
        <th width="150">ID编号</th>
        <th width="150">机房名称</th>
        <th width="150">机房地址</th>
        <th width="150">机房带宽</th>
        <th width="150">联系人</th>
        <th width="150">联系电话</th>
        <th width="150">运营商</th>
        </tr>
    </table>
   {% for i in idc_info %}
<table border="1" bgcolor="aqua">
    <tr>
        <td width="150" bgcolor="#7fff00"><a href="/order/disp_order/{{ i.id }}">{{ i.id }}</a></td>
        <td width="150">{{ i.name }}</td>
        <td width="150">{{ i.address }}</td>
        <td width="150">{{ i.bandwidth }}</td>
        <td width="150">{{ i.linkman }}</td>
        <td width="150">{{ i.phone }}</td>
        <td width="150">{{ i.operator }}</td>


        <!-- <td width="150" bgcolor="#7fff00"><a href="/order/disp_order/{{ i.id }}"> {{ i.order_title }}</a></td>
        <td width="150">{{ i.order_text }}</td>
        <td width="150">{{ i.faqi_user.r_name }}</td> -->
    </tr>
</table>
{% endfor %}
</body>
</html>