<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% include 'top.html' %}
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            IDC详细信息列表
        </h3>
    </div>
    <div class="panel-body">
    <a href="/asset/idc_add/" class="button button-action button-pill"><button type="button" class="btn btn-primary">添加机房</button></a>
<table border="1" bgcolor="#7cfc00">

    <tr>
        <th width="150">机房名称</th>
        <th width="150">联系人</th>
        <th width="150">联系电话</th>
        <th width="150">运营商</th>
        <th width="150">操作</th>
        </tr>
    </table>
   {% for i in idc_info %}
<table border="1" bgcolor="aqua">
    <tr>
        <div class="text-primary">
        </div>
         <td rowspan=$rowspan style='vertical-align: middle;text-align: center;' width="150" ><a href="/asset/idc_disp/{{ i.id }}">{{ i.name }}</a></td>
        <td rowspan=$rowspan style='vertical-align: middle;text-align: center;' width="150">{{ i.linkman }}</td>
        <td rowspan=$rowspan style='vertical-align: middle;text-align: center;' width="150">{{ i.phone }}</td>
        <td rowspan=$rowspan style='vertical-align: middle;text-align: center;' width="150">{{ i.operator }}</td>
        <td width="150" rowspan=$rowspan style="vertical-align: middle;text-align: center"><a href="/asset/idc_add/" class="button button-action button-pill"><button type="button" class="btn btn-primary btn-xs">删除</button> </a> <a href="/asset/idc_add/" class="button button-action button-pill"><button type="button" class="btn btn-success">编辑</button></a></td>



        <!-- <td width="150" bgcolor="#7fff00"><a href="/order/disp_order/{{ i.id }}"> {{ i.order_title }}</a></td>
        <td width="150">{{ i.order_text }}</td>
        <td width="150">{{ i.faqi_user.r_name }}</td> -->
    </tr>
</table>
{% endfor %}

    </div>
</div>
</body>
</html>