<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{% include 'top.html' %}
</head>
<body>

<li>{{ order_info.id }}</li>
<li>{{ order_info.order_type }}</li>
<li>{{ order_info.order_title }}</li>
<li>{{ order_info.order_text }}</li>
<li>{{ order_info.faqi_user.r_name }}</li>
   {% for i in comm_reply %}
<table border="1" bgcolor="aqua">
    <tr>
        <td width="150">{{ i.comment_text }}</td>
        <td width="150">{{ i.comment_user.r_name }}</td>
    </tr>
</table>
{% endfor %}
</body>
</html>