<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{% include 'top.html' %}
</head>
<body>
<li>{{ order_info.id }}</li>
<li>{{ order_info.order_type }}</li>
<li>{{ order_info.order_title }}</li>
<li>{{ order_info.order_text }}</li>
<li>{{ order_info.faqi_user.r_name }}</li>
<script>
    $(document).ready(function () {
        $("#btn1").click(function () {
            $("#test").load('/order/add_comm/');

        })

    })
</script>
 <li id="test">工单回复</li>
<button id="btn1" type="button">处理回复</button>
</body>
</html>